---
layout: default
format: frontpage

---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div id="header-subhome">
    <div class="row">
        <div class="small-12 columns t10 b10">
            <h1 class="fancy">Uniting and Empowering Utah's Agile Community<sup>TM</sup></h1>
        </div>
    </div>
</div>    
{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
<div id="cta">
    <div class="row">
        <div class="small-12 text-center columns t30">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
</div>       
{% endif %}


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row text-center">
   <div class="text-center small-12 columns t20"><h2 class="fancy">We offer meetups for all agile interests</h2></div>
</div>
<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->

{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
<div id="header-cta2">
    <div class="row">
        <div class="small-12 text-center columns t10 b20">
            <h2 class="fancy">We are the official agile meetup for Utah</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <a href="" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/scrumalliance.png" ></a>
        </div>
        <div class="small-4 columns">
            <a href="" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/agile_alliance.png" ></a>
        </div>
        <div class="small-4 columns">
            <a href="" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/agile_network.png" ></a>
        </div>
    </div>
    <div class="row t10 b10">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
</div>
{% endif %}

<div id="locations">
<div class="row">
    <div class="small-12 text-center columns"><h2 class="fancy">Find a location near you</h2></div>
</div>
<div class="row t10">
    <div class="small-4 columns">
        <a href=""><img src="{{ site.url }}{{ site.baseurl }}/images/slc.png"></a>
    </div>
    <div class="small-4 columns">
        <a href=""><img src="{{ site.url }}{{ site.baseurl }}/images/utah.png"></a>
    </div>
    <div class="small-4 columns">
        <a href=""><img src="{{ site.url }}{{ site.baseurl }}/images/lehi.png"></a>
    </div>
</div>
</div>

<div id="sponsors">
<div class="row">
    <h2>Thanks to our many sponsors</h2>
</div>
<div class="row t20">
    <div class="small-4 columns">
        <a href=""><img src="{{ site.url }}{{ site.baseurl }}/images/slc.png"></a>
    </div>
    <div class="small-4 columns">
        <a href=""><img src="{{ site.url }}{{ site.baseurl }}/images/utah.png"></a>
    </div>
    <div class="small-4 columns">
        <a href=""><img src="{{ site.url }}{{ site.baseurl }}/images/lehi.png"></a>
    </div>
</div>
</div>
{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
